* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.image-container {
    display: flex;
    flex-wrap: nowrap;
    
}

.image-wrapper{
    display: flex;
    flex-wrap: nowrap;
    animation-name: slides;
    animation-duration:20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.image-container:hover .image-wrapper {
    animation-play-state: paused;
}

.image-wrapper img{
    flex-shrink: 0;
}


.image-container img {
    height: 100px;
}

@keyframes slides {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
